.wordsGrid {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto, 1fr);
  gap: 10px;
}

.word {
  text-wrap: nowrap;
  opacity: 60%;
  text-align: center;
  user-select: none;
}
.word:hover {
  opacity: 100%;
  scale: 1.1;
  cursor: pointer;
}
.active {
  opacity: 100%;
}
/* Media querries */
@media screen and (min-width: 420px) {
  .wordsGrid {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .wordsGrid {
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .wordsGrid {
    grid-auto-flow: column;
    grid-template-columns: unset;
  }
}
