.footer {
  width: 100%;
}
.wrapper {
  width: 100%;
  max-width: var(--max-w);
  margin: 0 auto;
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sweeftLogo {
  width: 200px;
}

.rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.socials img {
  width: 25px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }
}
