.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.navItem {
  font-size: 14px;
  font-weight: bold;
  opacity: 60%;
}

.navItem:hover {
  scale: 1.1;
  opacity: 100%;
}
.active {
  opacity: 100%;
}
.active:hover {
  scale: 1;
}

@media screen and (min-width: 420px) {
  .list {
    gap: 20px;
  }
  .navItem {
    font-size: 18px;
  }
}
