.main {
  width: 100%;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-w);
  padding: 12px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}
